@import url("https://fonts.googleapis.com/css?family=Amatic+SC");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR");

body {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Noto Sans KR", sans-serif;
}

.logo {
  color: #811b21;
  font-family: "Amatic SC", cursive;
  font-weight: bold;
  font-size: 48px;
  margin: 20px 0px;
}

.preview {
  max-width: 500px;
  border-radius: 4px;
  border: 1px solid #ddd;
  margin-bottom: 30px;
  box-shadow: 0px 0px 15px 3px #ddd;
}

.preview img {
  width: 100%;
  vertical-align: middle;
}

.preview__title {
  font-size: 14px;
  margin: 15px 0px;
  text-align: center;
  line-height: 28px;
}

.preview__palette-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.preview__palette {
  width: 100%;
  height: 60px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.preview__palette:hover {
  transform: scale(1.8);
}

.layer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  width: 100%;
  height: 100vh;
  position: absolute;
  visibility: hidden;
  top: 0px;
  left: 0px;
  font-weight: bold;
  color: white;
}

.show {
  animation-duration: 1.2s;
  animation-name: layer;
  visibility: visible;
  opacity: 0;
}

@keyframes layer {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.layer__text {
  font-size: 64px;
}

.layer__hex {
  margin-top: 1.5em;
  font-size: 32px;
}

@media (max-width: 800px) {
  .preview {
    width: 100%;
  }
}
